/* scroll bar custom */
/* Hide scrollbar for Chrome, Safari and Opera */


/* Hide scrollbar for IE, Edge and Firefox */

/* scroll bar custom */
.padding-element {
    padding: 2rem;
}

body {
    overflow-x: hidden;
}

.text {
    position: relative;
    z-index: 1;
}

.hand-img {
    position: absolute;
    margin: 0 auto;
    z-index: -1;
}

/* first page */
.first-page {
    background-color: rgb(30, 165, 238);
    height: 100vh;
}

.font-yellow{
    color: rgb(224, 248, 12);
}

.button-yellow{
    color: rgb(30, 165, 238);
    font-weight: bold;
    background-color: rgb(224, 248, 12);
}

.button-yellow:hover{
    color: rgb(224, 248, 12);
    border: 3px rgb(224, 248, 12) solid;
}

.padding-element h1 {
    font-size: 4rem;
}

.padding-element h6 {
    font-size: 1.6rem;
}
/* first page */

/* second page */
.second-page {
    
}

.button-blue{
    color: rgb(224, 248, 12);
    font-weight: bold;
    background-color: rgb(30, 165, 238);
}

.button-blue:hover{
    color: rgb(30, 165, 238);
    border: 3px rgb(30, 165, 238) solid;
}

.h1-page2 h1{
    font-size: 3.5rem;
}
/* second page */

/* third page */
.third-page{
    
    background-color: white;
}
.third-main{
    
}
/* third page */

/* fourth page */
.fourth-page{
    
    background-color: rgb(30, 165, 238);
}
/* fourth page */

@media (max-width: 750px) {
    .padding-element {
        padding: 1rem;
    }
    .padding-element h1{
        font-size: 2rem;
    }
    .padding-element h6 {
        font-size: 1.2rem;
    }
    .hand-img {
        display: none;
    }
    .people {
        width: 30px;
        height: 20px;
        display: none;
    }
    .h1-page2 h1 {
        font-size: 1rem;
    }
}

@media (min-width: 1118px) {
    .hand-img {
        width: 750px;
        height: 650px;
    }

}

@media (max-width: 1118px) {
    .people {
        width: 430px;
        height: 350px;
    }
    .h1-page2 h1 {
        font-size: 2.9rem;
    }
}

@media (min-width: 1380px) {
    .hand-img {
        width: 900px;
        height: 800px;
    }
}