.yellow{
    color: rgb(224, 248, 12);
}

.border-img{
    /* border: 6px white solid; */
}

.button-yellow{
    font-weight: bold;
    color: rgb(30, 165, 238);
    background-color: rgb(224, 248, 12);
}

.button-yellow:hover{
    color: rgb(224, 248, 12);
    background-color: rgb(30, 165, 238);
    border: 2px rgb(224, 248, 12) solid;
}

.button-blue{
    background-color: rgb(30, 165, 238);
    font-weight: bold;
    color: rgb(224, 248, 12);
    border: 2px rgb(224, 248, 12) solid;
}

.button-blue:hover{
    color: rgb(30, 165, 238);
    background-color: rgb(224, 248, 12);
}

.background-yellow{
    background-color: rgb(228, 247, 59);
}

.video-center{
    margin: 0 auto;
}

.title-landing{
    background: rgb(0,68,255);
    background: linear-gradient(90deg, rgba(0,68,255,1) 0%, rgba(76,171,233,1) 40%, rgba(0,212,255,1) 100%);}

.navbar-landing{
    background: rgb(0,68,255);
background: linear-gradient(90deg, rgba(0,68,255,1) 0%, rgba(76,171,233,1) 40%, rgba(0,212,255,1) 100%);
}

